@import '../../../utils/styleVars.scss';

.Label, .Input {
    display: block;
}

.Label{
    color: $gray-violet;
    padding-bottom: 0.5rem;
    &_dark{
        color: $light-gray;
    }
}

.Input{
    color: $very-dark-black;
    padding: 0 20px;
    min-width: 0;
    max-width: auto;
    height: 48px;
    border: 1.5px solid $light-gray;
    font-weight: 700;
    outline: none;
    border-radius: 5px;

    &:active, :hover {
        border: 1px solid $primary-violet;
    }
}


.Input.invalid{
    border: 1px solid $muted-red;}

.Input_dark{
    color: $light-gray;
    background-color: $almost-black;
    border: 1px solid $bluish-black;

    &:active, :hover {
    border: 1px solid $bluish-black;
    }
}

.opts{
   position: absolute; 
   z-index: 30;
   background-color: white;
   font-weight: 700;
   width: 38%;
   border-radius: 10px;
   margin-top: 38px;
   box-shadow: 0 10px 20px transparentize(#48549f, 0.75);

   &>*{
       padding: 20px 20px;
       border-bottom: 1px solid $light-gray;
       &:last-child{
           padding: 20px 20px 15px;
           border-bottom: none;
       }
       
       &:hover, &:active{
           color: $primary-violet;
       }
}
    &_dark{
    color: $light-gray;
    background-color: $almost-black;
    border: 1px solid $bluish-black;
    box-shadow: 0 10px 20px transparentize(black, 0.75);
    &>*{
       border-bottom: 1px solid $very-dark-black;
}
    }
}

.Hide{
    display: none;
}

.Dropdown{
    display: block;
    position: relative;
    left: 80%;
    margin-top: -11%;
}

.ddInput{
    width:100%;
}

.Up{
    transform: rotate(180deg);
}
.Active{
    border: 1px solid $primary-violet;
}
.readOnly{
    border: none;
    cursor: default;
}

.error, .errorDate{
    color: $muted-red;
    padding: 5px 0 20px;
    font-weight: bold;
    position: absolute;
}

.errorDate{
    padding-top: 20px;
}

@media screen and (max-width: 1204px){
.Dropdown{
    margin-top: -13%;
}

}
@media screen and (max-width: 1104px){
.Dropdown{
    margin-top: -10%;
}

}

@media screen and (max-width: 830px){
.Dropdown{
    margin-top: -15%;
}

}

@media screen and (max-width: 600px){
    .Input{
        box-sizing: border-box;
        min-width: 90px;
    }
.Dropdown{
    left: 65%;
    margin-top: -15%;
}

}


@media screen and (max-width: 420px){
.Dropdown{
    margin-top: -19%;
}

}

@media screen and (max-width: 370px){
.Dropdown{
    margin-top: -25%;
}

}