@import '../../utils/styleVars.scss';

.Navbar{
    background-color: #373B53;
    width: 103px;
    height: 100vh;
    position: fixed;
    z-index: 23;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Logo{
    background-color: $primary-violet;
    width: 100%;
    height: 51.5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 51.5px;
    &_accent{
        background-color: $ligter-violet;
        height: 51.5px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    img{
        width: 40px;
        position: absolute;
        top: 37.71px;
        left: 33.29px;
    }
}

.Controlgroup{
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
}

.Darkmode_switch{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #494E6E;
    cursor: pointer;
}
.Portrait{  
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}


@media screen and (max-width: 1024px){
.Navbar{
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;}
.Logo{
    width: 80px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 40px;
    &_accent{
        height: 40px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    img{
        width: 31px;
        position: absolute;
        top: 25px;
        left: 24.24px;
    }}
    .Controlgroup{
    position: absolute;
    left: 80%;
    top: 0;
    height: 100%;
    display: flex;
    width: 20%;
}

.Darkmode_switch{
    height: 100%;
    align-items: center;
    border-bottom: none;
    border-right: 1px solid #494E6E;
}
.Portrait{  
    img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}
}

@media screen and (max-width: 420px){
    .Navbar{
        height: 72px;
    }
    .Logo{
    width: 72px;
    height: 36.5px;
    padding-top: 36.5px;
    overflow: hidden;
    &_accent{
        height: 36.5px;
    }
    img{
        width: 28px;
        position: absolute;
        top: 23px;
        left: 22px;
    }}
    .Controlgroup{
        left: 60%;
        width: 40%;
    }
}