@import '../utils/styleVars.scss';

.Layout{
    position: fixed;
    overflow: hidden;
    &_Darkmode{
        background-color: $very-dark-black;
        width: 100vw;
        min-height: 100vh;
       
    }
    &_Normal{
        background-color: $light-bg;
        width: 100vw;
        min-height: 100vh
    }
}
.Main{
    padding-left: 20%;
    padding-top: 5%;
    overflow-y: scroll;
}

@media screen and (max-width: 1024px){
    .Main {
        padding-left: 0;
        margin: auto;
    }
}