$primary-violet: #7C5DFA;
$ligter-violet: #9277FF;
$almost-black: #1E2139;
$bluish-black: #252945;
$light-gray: #DFE3FA;
$gray: #888EB0;
$gray-violet: #7E88C3;
$very-dark-black: #0C0E16;
$muted-red: #EC5757;
$light-muted-red: #FF9797;
$light-bg: #F8f8fb;
$dark: #141625; 


